# please create a new token github.com/settings/tokens/new .
# give repo read write and workflow permissions to the token and store its value
# add the token as a repo secret with key GH_TOKEN_1 and value equal to token value stored above

name: Update Readme ascii graph and workflow with random cron interval
on:
  push:
    branches: master
    paths-ignore:
      - README.md
      - .github/workflows/rating-chart.yml
  schedule:
    - cron: "0 */1 * * *"
jobs:
  ratings-chart:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
        with:
          token: ${{ secrets.GH_TOKEN_1 }}
        name: Setup Python
      - uses: actions/setup-python@v2
        with:
          python-version: 3.7
        name: Install dependencies
      - run: pip install -r requirements.txt
        name: Create Chart
      - run: |
          python codes/rating_chart.py > chart.txt
          CHART=$(cat chart.txt)
          echo "::set-output name=chart::$CHART"
      - run: cat assets/README-1.md > README.md
      - run: cat chart.txt >> README.md
      - run: |
          currentDate=`env TZ=Asia/Kolkata date`
          printf "\nChart last updated - ${currentDate}" >> README.md
      - run: cat assets/README-2.md >> README.md
        name: Update workflow yaml file
      - run: |
          python codes/generate_random_workflow.py > rating-yaml.txt
          YAML=$(cat rating-yaml.txt)
          echo "::set-output name=yaml::$YAML"
      - run: cat rating-yaml.txt > .github/workflows/rating-chart.yml
      - id: changed
        run: git diff --exit-code
        continue-on-error: true
        name: Commit changes
      - if: ${{ steps.changed.outcome == 'failure' }}
        uses: EndBug/add-and-commit@v4
        with:
          author_name: Aditya Pal
          author_email: aditya.pal.science@gmail.com
          message: "Auto updating my readme and workflow timing!"
          add: "README.md .github/workflows/rating-chart.yml"
        env:
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN_1 }}




















































